services:
  postgres-db:
    image: postgres:15-alpine
    env_file:
      - ./.env
    ports:
      - "5432:5432"
    volumes:
      - db:/var/lib/postgresql/data
    networks:
      - app

  redis-cache:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"] # Enable AOF persistence
    networks:
      - app
      
  kafka:
    image: apache/kafka:4.0.1
    ports:
      - "9092:9092"
    env_file:
      - ./.env
    networks:
      - app

volumes:
  db:

networks:
  app:
    driver: bridge